@model NewsCmsProject.Models.Dto.RequestLoginUser
@{
    ViewData["Title"] = "فرم ورود کاربر";
    Layout = "_AppLayout";
    bool IsMicrosoftBrowser = Context.IsInternetExplore() || Context.IsMicrosoftEdge();
}

<div class="col-md-8 col-9 p-md-2">
    <div class="col-7 main-form">
        <header>
            <h5>فرم ورد کاربر</h5>
        </header>
        <div class="form-group">
            <label asp-for="Email" class="label-text"></label>
            <input type="email" asp-for="Email" class="input-text" placeholder="ایمیل خود را وارد کنید">
        </div>
        <div class="form-group password-row">
            <label asp-for="Password" class="label-text">پسورد</label>
            @if (!IsMicrosoftBrowser)
            {
                <span class="password-show fa fa-eye"></span>
            }
            <input type="password" asp-for="Password" class="input-text" placeholder="رمز عبور خود را وارد کنید">
        </div>
        <div class="form-group checkbox-row">
            <label>
                مرا به خاطر نگه دار
                <input type="checkbox" asp-for="IsRememberMe">
                <span class="checkbox-mark"></span>
            </label>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block" onclick="onLoginUser()">ورود کاربر</button>
        </div>
    </div>
</div>
@section Scripts 
{
    <script>
        function onLoginUser() {
            let postData = {
                Email: $('#Email').val(),
                Password: $('#Password').val(),
                IsRememberMe: $('#IsRememberMe').prop('checked')
            };
            $.post("/Auth/Login", postData).done(function (data) {
                if (data.isSuccess) {
                    alertify.alert('ورود کاربر', data.message, function () {
                        window.location.replace('/');
                    });
                } else {
                    alertify.error(data.message);
                }
            }).fail(function () {
                alertify.error('خطای غیرمنتظره ای رخ داد!');
            });
        }
    </script>
}