<div class="card-main main-border">
    <div class="card-header">
        <h2>فرم ایجاد گروه جدید</h2>
    </div>
    <div class="card-body">
        <section>
            <div class="form-horizontal">
                <label for="title">عنوان گروه</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="عنوان گروه را وارد کنید">
            </div>
            <div class="form-horizontal main-border">
                <button class="btn btn-success offset-form" onclick="onCreateGroup()">ذخیره اطلاعات</button>
                <a class="btn btn-info mr-2" onclick="onCloseAlertify()">بازگشت</a>
            </div>
        </section>
    </div>
</div>